{{> header}}
<form class="mt-2" action="#/create" method="post">
    <div class="form-group">
        <input type="text" name="question" class="form-control w-25 m-auto" placeholder="Enter card question...">
    </div>
    <div class="form-group">
        <input type="text" name="answer" class="form-control w-25 m-auto d-inline" placeholder="Enter card answer...">
    </div>
    <div class="form-group w-25 m-auto">
        <select name="category" class="custom-select selectInput">
            <option value="" selected hidden>Choose category</option>
            <option value="Programming">Programming</option>
            <option value="Sports">Sports</option>
        </select>
    </div>
    <input type="submit" value="Create" class="btn btn-success btn-lg mt-2 mb-2 w-25">
</form>
<!-- <div id="currentCard" class="card text-white bg-primary" style="max-width: 20rem;">
    <div id="cardCategory" class="card-header">Card Category</div>
    <div class="card-body">
        <h4 id="cardQuestion" class="card-title">Card Question</h4>
        <p class="card-text cardAnswer">Hover to see answer</p>
    </div>
</div> --> <!-- TODO: Implement dynamic card change on input change (focus). -->
{{> footer}}