{{> header}}
<form class="mt-2" action="#/edit/:{{id}}" method="post">
    <div class="form-group">
        <input type="text" name="question" class="form-control w-25 m-auto" value="{{question}}">
    </div>
    <div class="form-group">
        <input type="text" name="answer" class="form-control w-25 m-auto d-inline" value="{{answer}}">
    </div>
    <div class="form-group w-25 m-auto">
        <select name="category" class="custom-select">
            <option value="" selected hidden>Choose category</option>
            <option value="Programming">Programming</option>
            <option value="Sports">Sports</option>
        </select>
    </div>
    <input type="submit" value="Edit" class="btn btn-success btn-lg mt-2 mb-2 w-25">
</form>
{{> footer}}