<div class="card text-white bg-primary mt-3 ml-auto mr-auto w-50 h-100">
    <div class="card-header">{{category}}</div>
    <div class="card-body">
        <h4 class="card-title">{{question}}</h4>
        <p class="card-text cardAnswer">{{answer}}</p>
    </div>
    <div class="card-footer">{{rating}}/5 ★</div>
</div>