<div class="card text-white bg-primary mt-2 ml-auto mr-auto w-100 h-100">
    <div class="card-header">{{category}}</div>
    <div class="card-body">
        <h4 class="card-title">{{question}}</h4>
        <p class="card-text cardAnswer">{{answer}}</p>
    </div>
</div>