{{> header}}
<form class="mt-2" action="#/quiz" method="post">
    <div class="form-group">
        <select name="category" class="custom-select w-25 selectInput">
            <option value="" selected hidden>Choose category</option>
            <option value="Programming">Programming</option>
            <option value="Sports">Sports</option>
        </select>
    </div>
    <input type="submit" value="Choose" class="btn btn-success btn-lg mb-2 w-25">
</form>
{{> footer}}