<form class="mt-2" action="#/login" method="post">
    <div class="form-group">
        <input type="text" name="username" class="form-control w-25 m-auto" placeholder="Username">
    </div>
    <div class="form-group">
        <input type="password" name="password" class="form-control w-25 m-auto d-inline" placeholder="Password">
    </div>
    <input type="submit" value="Login" class="btn btn-success btn-lg mt-2 mb-2 w-25">
</form>