<footer class="page-footer font-small blue mt-2">
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://github.com/PeterArnaudov" target="_blank">PeterArnaudov</a>
    </div>
</footer>